<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Precaution and Prevention</title>
    <style>
        *{
            font-family:cursive; 

        }
.container{
    width: 900px;
    border: 10px solid rgb(224, 44, 12);
    margin: 10px auto;
    /* here margin auto can center the container */
    
    

}
.item{
    border: groove 10px rgb(67, 218, 124);
    margin: 12px 3px;
    padding: 12px 3px;
    background-color: rgb(60, 206, 221);
    
    

}
#prevent{
    float: right;
    width: 70%;
}
#computer{
float: left;
width: 70%;


}
#stationery{
    float: right;
width: 50%;
clear: both;


}
#image2{
    float:right;
    width: 2000;
}
#image{
    float:left;
    width:30%;
}

p,h3,h1{
    text-align: center;
    /* right alignment */

}
    </style>
</head>
<body>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <button type="button" class="btn btn-danger" onclick="window.location.href = '/home';" style="margin: 20px 20px; padding: 5px 5px; font-size: 25px;">Back</button>
    <h1>Precaution and Prevention!!!</h1>
    <div>
        <img src="/images/prevention.jpg" alt="Image nahi dikhi to bolo!!!">
    </div>
    <div>
    <img src="/images/images1.jpg" alt="NOT LOADED" id="image">
    </div>
    
    <div class="container">
        
        
        <div id="prevent" class="item">
            <h3 >PRECAUTIONS </h3>
            <p id="fruitspara" class="para1">
              All should take note of one thing that we should never underestimate anything, whether it is a human or a virus. Viruses can attack on any human, but it's effect vary from person to person. It all depends on us that how literate we are about that. We all need to just gain some information about this deadly virus and follow some steps to fight against it-
              <br><br>
              <ol type="1">
                  <li>Take vaccine for COVID-19 as soon as possible.</li>
                  <li>Clean your hands often. Try using soap with water and wash hands for 20 seconds.</li>
                  <li>Sanitize your hands, if washing of hands is not possible.</li>
                  <li>Maintain a proper distance from anyone coughing or sneezing.</li>
                  <li>Always wear a mask.</li>
                  <li>Clean your hands after touching to mask.</li>
                  <li>Try to avoid touching nose or mouth without cleaning the hands.</li>
                  <li>Sneeze or cough in your elbow.</li>
                  <li>Always take a healty diet.</li>
                  <li>Perform yoga on daily basis to stay fit.</li>
                  <li>Never be in contact with infected person without mask.</li>
                  <li>You can also do some home remedies for your safety. But before doing, check it's authenticity.</li>
                  <li>If you feel stressed after watching any news related to COVID-19, avoid watching the news.</li>
                  <li>Never directly believe the news on social media because many of them are fake. Wait for offcial news.</li>
                  <li>Always think POSITVE. Be POSITIVE and spread positivity.</li>
                  <li>Be a social worker. Only caring for oneself is not enough, this whole world is your family. Help others if possible.</li>
                  <li>BE SAFE! BE STRONG!</li>
              </ol>

            </p>
        </div>
        
        <div>
            <img src="/images/images2.jpg" alt="Image nahi dikhi to bolo!!!" id="image2">
        </div>
        <div id="computer" class="item">
            <h3>Prevention</h3>
            <p id="computerpara" class="para1">
            PREVENTION IS ALWAYS BETTER THAN CURE!!!<BR>
                There are several steps to be taken for prevention of spreading of COVID-19. If we all follow these steps, then definitely we will be able to stop the chain of spreading of virus till some extent.
                Here are some of the preventions to be taken to stop the spread of corona virus-
                <ol type="1">
                    <li>Take all the possible precautions like cleaning hands, using mask, maintaing social distancing, etc.</li>
                    <li>Use your own appliances and gadgets. Also clean them regularly.</li>
                    <li>Clean and disinfect surfaces frequently, especially those which are regularly touched.  </li>
                    <li>Avoid eating outside. Take a good homemade diet.</li>
                    <li>Increase your immunity by taking appropriate intake regularly.</li>
                    <li>If you are experiencing the symptoms of COVID-19,take the following necessary measures-</li>
                       <ol type="i">
                           <li>Visit to a doctor.</li>
                           <li>If not vaccinated, take the vaccine.</li>
                           <li>Strictly use mask and use sanitizer.</li>
                           <li>Do not use masks with holes or valves. </li>
                           <LI>After taking off the mask, disinfect it and then dispose it. </LI>
                           <LI> </LI>
                           
                           <li>Do not cough or sneeze openly. </li>
                           <li>Avoid going out of your house, if possible. </li>
                           <li>Avoid getting in contact with anyone.</li>
                           <li>Be self quarantined, if possible.</li>
                           <li>In extreme cases, get admitted to hospital.</li>
                       </ol>
                       
            </p></div>
        <div id="stationery" class="item">
            <h3>WE CAN DO IT</h3>
            <p id="stationerypara" class="para1">
                COVID-19 had a very great impact on us, both physically and mentally. but it is very important to be strong in such devastating time. Nevertheless we will be mentally and physically strong, we will not be able to fight this virus. Just by taking all the precautions and preventions we will be able to fight this virus effectively. Along with this, getting vaccinated is very important. So,<br><strong><em>LET'S FIGHT COVID-19 TOGETHER!!!</strong></EM>
            </p>
            
            

        </div>
    </div>
</body>
</html>